[Desktop Entry]
Version=1.0
Type=Application
Name=wifi_air_suite.sh 15min
Comment=
Exec=bash -c 'trap '"'"'trap - INT; echo; echo "CTRL+C — fermeture dans 10 secondes..."; sleep 10; exit 130'"'"' INT; /mnt/data2_78g/Security/scripts/Projects_network/wifi_air_suite/wifi_air_suite.sh --exec --capture --interface wlan0 --duration 600  --post-process --open-kate --accept'
Icon=kali-wifi
Path=/mnt/data2_78g/Security/scripts/Projects_network/wifi_air_suite/
Terminal=true
StartupNotify=false
